<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/admin.js"></script>
    <meta charset=utf-8>
    <title>Yodlr Admin Page</title>
</head>

<body>
    <div class="container my-5">
        <h1>Users</h1>
        <div id="user-list">
            <% users.forEach(function(user){ %>
                <%- include('user', {user: user}); %>
            <% }); %>
        </div>
        <a href="/">Back</a>
    </div>
</body>

</html>